

@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @font-face {
    font-family: 'Bebas';
    src: url('../../../../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../../../../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sansita';
    src: url('../../../../fonts/Sansita-Regular.woff2') format('woff2'),
        url('../../../../fonts/Sansita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('../../../../fonts/Lato-Light.woff2') format('woff2'),
        url('../../../../fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
@font-face {
    font-family: 'Lora';
    src: url('../../../../fonts/Lora-Regular.woff2') format('woff2'),
        url('../../../../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  

.conocenos {
    background: rgba(195, 233, 255, 0.75);
    display: flex;
    flex-direction: column;
    p {
        margin: 0 7.5% 0 7.5%;
        text-align: left;
        padding: 2.5% 0;
        font-family: 'Lato';
        line-height: 165%;
    }
    .c-header {
        font-family: 'Lora';
        font-size: 1.4em;
        text-align: left;
        font-weight: bold;
        margin: 20% 7.5% 5% 7.5%;
    }
    .c-subheading {
        font-family: 'Lora';
        font-size: 1.3em;
        text-align: left;
        font-weight: bold;
        margin: 12.5% 7.5% 5% 7.5%;
    }
    
    .c-intro {
        height: 70vh;
        background: url(../images/intro.jpg);
        background-size: cover;
        background-position: top;
        @include flex-column();
        justify-content: center;
        color: rgba(255, 255, 255, 0.767);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.712);
        .c-title {
            margin-top: 20%;
            font-size: 2.5em;
            font-family: 'Bebas';
            letter-spacing: 0.05em;
            padding-bottom: 10%;
        }
        .c-sections {
            @include flex-row();
            gap: 5%;
            font-size: 1.1em;
            font-family: 'Sansita';
            font-weight: lighter;
        }
    }

    .conocenos-wrapper {
        display: flex;
        flex-direction: column;
        
        .c-objetivos {
            background: white;
            margin: 40% 0 30% 0;
            padding-bottom: 25%; 
            box-shadow: 0 0 2px 0 grey;
            .img-group {
                .img {
                    height: 40vh;
                    width: auto;
                    margin: 5% 0 0 0;
                }
                .img-caption {
                    font-size: 0.9em;
                    font-family: 'Lato';
                    font-weight: lighter;
                    color: #555555;
                    // width: 100%;
                    margin: 5% 7.5% 7.5% 7.5%;
                }
            }
            .content {
                margin: 5% 0;
            }
        }

        .c-equipo {
            background: white;
            margin: 30% 0;
            padding-bottom: 25%; 
            box-shadow: 0 0 2px 0 grey;
            
            .img-group {
                .img-2 {
                    height: auto;
                    margin: 5% 0 0 0;
                    width: 85vw;
                }
                .img-caption {
                    font-size: 0.9em;
                    font-family: 'Lato';
                    font-weight: lighter;
                    color: #555555;
                    // width: 100%;
                    margin: 5% 7.5% 7.5% 7.5%;
                }
            }
            .content {
                margin: 5% 0;
            }
        }

        .c-actividades {
            margin: 30% 0 70% 0;
            padding-bottom: 25%; 
            background: white;
            color: rgba(0, 0, 0, 0.795);
            box-shadow: 0 0 2px 0 grey;
            .img-group {
                .img {
                    height: 30vh;
                    width: auto;
                    margin: 5% 0 0 0;
                }
                .img-caption {
                    font-size: 0.9em;
                    font-family: 'Lato';
                    font-weight: lighter;
                    color: #555555;
                    // width: 100%;
                    margin: 5% 7.5% 7.5% 7.5%;
                }
            }
            .content {
                margin: 5% 0;
            }
        }
    }
}


@media (min-width: 760px) {
    .conocenos {
        background: #54666c13;
        // margin: 0;
        p {
            margin: 0 7.5% 0 7.5%;
            padding: 2.5% 0;
        }
        .c-header {
            font-size: 1.9em;
            margin: 12.5% 7.5% 2.5% 7.5%;
        }
        .c-subheading {
            font-size: 1.7em;
            margin: 5% 7.5% 2.5% 7.5%;
        }
        .c-intro {
            height: 45vh;
            .c-title {
                margin-top: 2%;
                font-size: 3.4em;
                letter-spacing: 0.05em;
                padding-bottom: 5%;
            }
            .c-sections {
                @include flex-row();
                gap: 5%;
                font-size: 2em;
            }
        }

        .conocenos-wrapper {
            margin: 0 25%;
            background: rgba(195, 233, 255, 0.75);
            .c-objetivos {
                background: white;
                padding-bottom: 15%; 
                margin: 20% 0;
                .img-group {
                    .img {
                        height: 40vh;
                        width: auto;
                        margin: 2.5% 0;
                    }
                    .img-caption {
                        margin-top: 1.25%;
                    }
                }
                .content {
                    margin: 2.5% 0;
                }
            }
        
            .c-equipo {
                background: white;
                padding-bottom: 15%; 
                .img-group {
                    .img-2 {
                        height: 30vh;
                        width: auto;
                        margin: 2.5% 0;
                    }
                    .img-caption {
                        margin-top: 1.25%;
                    }
                }
                .content {
                    margin: 2.5% 0;
                }
            }
        
            .c-actividades {
                background: white;
                padding-bottom: 7.5%; 
                margin-bottom: 30%;
                .content {
                    margin: 2.5% 0;
                }
                .img-group {
                    .img {
                        margin: 2.5% 0;
                        height: 30vh;
                    }
                    .img-caption {
                        margin-top: 1.25%;
                    }
                }
            }
        }
    
        
    }

}