

@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @font-face {
    font-family: 'Bebas';
    src: url('../../../../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../../../../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('../../../../fonts/Lato-Light.woff2') format('woff2'),
        url('../../../../fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
@font-face {
    font-family: 'Lora';
    src: url('../../../../fonts/Lora-Regular.woff2') format('woff2'),
        url('../../../../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sansita';
    src: url('../../../../fonts/Sansita-Regular.woff2') format('woff2'),
        url('../../../../fonts/Sansita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.conocenos {
    overflow-x: hidden;
    // background: #C6FFC1;
    background: rgba(195, 233, 255, 0.75);
    display: flex;
    flex-direction: column;
    // gap: 100px;
    // margin: 0;
    p {
        margin: 0 7.5% 0 7.5%;
        text-align: left;
        padding: 2.5% 0;
        font-family: 'Lato';
        // font-style: italic;
    }
    .c-header {
        font-family: 'Lora';
        font-size: 1.4em;
        text-align: left;
        // font-style: italic;
        font-weight: bold;
        margin: 20% 7.5% 5% 7.5%;
    }
    .c-subheading {
        font-family: 'Lora';
        font-size: 1.3em;
        text-align: left;
        // font-style: italic;
        font-weight: bold;
        margin: 12.5% 7.5% 5% 7.5%;
    }
    .c-intro {
        height: 50vh;
        background: url(../images/intro.jpg);
        background-size: cover;
        color: rgba(255, 255, 255, 0.767);
        background-position: top;
        @include flex-column();
        justify-content: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.712);
        .c-title {
            margin-top: 20%;
            font-size: 2.5em;
            font-family: 'Bebas';
            letter-spacing: 0.1em;
            padding-bottom: 10%;
        }
        .c-sections {
            @include flex-row();
            gap: 5%;
            font-size: 1.1em;
            font-family: 'Sansita';
            // padding-bottom: 10%;
        }
    }

    .c-objetivos {
        // border-top: 1px solid black;
        // border-bottom: 1px solid black;
        background: rgba(255, 255, 255, 0.93);
        margin: 40% 0 30% 0;
        padding-bottom: 25%; 
        .img {
            height: 40vh;
            width: auto;
            margin: 5% 0;
        }
        .content {
            margin: 5% 0;
        }
    }

    .c-equipo {
        // border-top: 1px solid black;
        // border-bottom: 1px solid black;
        background: rgba(255, 255, 255, 0.93);
        margin: 30% 0;
        padding-bottom: 25%; 
        .img-2 {
            height: auto;
            margin: 5% 0;
            width: 85vw;
        }
        .content {
            margin: 5% 0;
        }
    }

    .c-actividades {
        margin: 30% 0 70% 0;
        
        padding-bottom: 25%; 
        // border-top: 1px solid black;
        // border-bottom: 1px solid black;
        background: rgba(255, 255, 255, 0.93);
        .img {
            height: 30vh;
            width: auto;
            margin: 5% 0;
        }
        .content {
            margin: 5% 0;
        }
    }
}


@media (min-width: 760px) {
    .conocenos {
        overflow-x: hidden;
        background: #C6FFC1;
        display: flex;
        flex-direction: column;
        gap: 100px;
        // margin: 0;
        .c-header {
            font-family: 'Lora';
            font-size: 1.9em;
            // font-style: italic;
            font-weight: bold;
            margin: 5% 0;
        }
        .c-subheading {
            font-family: 'Lora';
            font-size: 1.7em;
            // font-style: italic;
            font-weight: bold;
        }
        .c-intro {
            height: 50vh;
            background: url(../images/intro.jpg);
            background-size: cover;
            color: rgba(255, 255, 255, 0.767);
            background-position: top;
            @include flex-column();
            justify-content: flex-end;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.712);
            .c-title {
                font-size: 2.5em;
                font-family: 'Bebas';
                letter-spacing: 0.1em;
                padding-bottom: 10%;
            }
            .c-sections {
                @include flex-row();
                gap: 5%;
                font-size: 1.5em;
                padding-bottom: 10%;
            }
        }
    
        .c-objetivos {
            // border-top: 1px solid black;
            // border-bottom: 1px solid black;
            background: rgba(255, 255, 255, 0.93);
            // margin: 0 10%;
            padding-bottom: 5%; 
            .img {
                height: 30vh;
                width: auto;
            }
        }
    
        .c-equipo {
            background: rgba(255, 255, 255, 0.93);
            // background: yellow;
            .img-2 {
                height: 20vh;
                width: auto;
            }
        }
    
        .c-actividades {
            // border-top: 1px solid black;
            // border-bottom: 1px solid black;
            background: rgba(255, 255, 255, 0.93);
    
        }
    }

}