
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin article-style {
    
    font-family: 'Proza';
    height: 70vh;
    width: 100%;
    position: relative;
}


@font-face {
    font-family: 'Bebas';
    src: url('../../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sansita';
    src: url('../../fonts/Sansita-Regular.woff2') format('woff2'),
        url('../../fonts/Sansita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proza';
    src: url('../../fonts/ProzaLibre-Regular.woff2') format('woff2'),
        url('../../fonts/ProzaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.lista {
    overflow-x: hidden;
    @include flex-column();
    // gap: 100px;
    justify-content: flex-start;
    min-height: 100vh;
    background: white;
    // background-color: black;
    > * {
        margin: 30% 0;
    } 
    .intro-articles {
        margin: 0 0 20% 0;
        height: 70vh;
        width: 100%;
        @include flex-column();
        justify-content: space-around;
        // color: #DDBAFF;
        background: url('./Lista//Fotos/0.jpg');
        background-size: cover;
        background-position: top;
        // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.356);
        color: rgba(255, 255, 255, 0.767);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.548);
        .heading {
            margin-top: 5%;
            font-family: 'Bebas';
            font-size: 2em;
            letter-spacing: 0.05em;
            // padding: 20% 0;
        }
        .description {
            // padding-bottom: 20%;
            margin: 0 15%;
            text-align: left;
            font-family: 'Proza';
        }
        .wrap-arrow {
            
            .info {
                margin: 5% 0;
                font-size: 1.3em;
                font-family: 'Sansita';
            }
        }
        
    }
    .article-1 {
        // margin-top: 40%;
        @include article-style();
        
        .cropped-1 {
            @include flex-column();
            height: 70vh;
            position: absolute;
            left: 2.5%;
            width: 80%;
            z-index: 4;
            text-align: left;
            color: rgba(255, 255, 255, 0.815);
            background: url('./Lista//Fotos/1.jpg');
            background-size: cover;
            background-position: top;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.356);
            * {
                padding-left:5%;
                width: 90%;
            }
            .title {
                margin: 5% 0 20% 0;
                font-style: italic;
            }
            .abstract-0 {
                text-decoration: underline;
            }
            .abstract {

            }
            .link {
                margin-top: 20%;
                width: fit-content;
                padding: 0;
                margin-left: 40%;
                color: #f2c94c;
                text-decoration: underline;
            }
        }
        .shadowing {
            position: absolute;
            height: 70vh;
            width: 80%;
            left: 10%;
            z-index: 3;
            top: -5%;
            // background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);;
            background-color: rgb(124, 124, 124);
        }
    }
    .article-2 {
        @include article-style();
        background-color: rgb(124, 124, 124);
        
        @include flex-column();
        padding: 5% 0;
        .cropped-2{
            
            @include flex-column();
            height: 100%;
            position: absolute;
            bottom: -7.5%;
            width: 100%;
            z-index: 4;
            text-align: left;
            color: rgba(255, 255, 255, 0.815);
            background: url('./Lista//Fotos/2.jpg');
            background-size: cover;
            background-position: top;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.418);
            * {
                padding-left:5%;
                width: 90%;
            }
            .title {
                margin: 5% 0 20% 0;
                font-style: italic;
            }
            .abstract-0 {
                text-decoration: underline;
            }
            .abstract {

            }
            .link {
                margin-top: 20%;
                width: fit-content;
                padding: 0;
                margin-left: 50%;
                color: #f2c94c;
                text-decoration: underline;
            }
        }
    }
    .article-3 {
        @include article-style();
        .cropped-3 {
            @include flex-column();
            background-color: lightcyan;
            height: 70vh;
            position: absolute;
            right: 2.5%;
            width: 80%;
            z-index: 4;
            text-align: left;
            color: rgba(255, 255, 255, 0.815);
            background: url('./Lista//Fotos/3.jpg');
            background-size: cover;
            background-position: top;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.418);
            * {
                padding-left:5%;
                width: 90%;
            }
            .title {
                margin: 5% 0 20% 0;
                font-style: italic;
            }
            .abstract-0 {
                text-decoration: underline;
            }
            .abstract {

            }
            .link {
                margin-top: 20%;
                width: fit-content;
                padding: 0;
                margin-left: 40%;
                color: #f2c94c;
                text-decoration: underline;
            }
        }
        .shadowing {
            position: absolute;
            height: 70vh;
            width: 80%;
            right: 10%;
            z-index: 3;
            bottom: -5%;
            background-color: rgb(124, 124, 124);
        }
        
    }
    .article-4 {
        margin-bottom: 40%;
        @include article-style();
        padding: 5% 0;
        background-color: rgb(124, 124, 124);
        @include flex-column();
        .cropped-4{
            @include flex-column();
            background-color: rgb(27, 255, 198);
            height: 100%;
            position: absolute;
            top: -7.5%;
            width: 100%;
            z-index: 4;
            text-align: left;
            color: rgba(255, 255, 255, 0.815);
            background: url('./Lista//Fotos/4.jpg');
            background-size: cover;
            background-position: top;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.523);
            * {
                padding-left:5%;
                width: 90%;
            }
            .title {
                margin: 5% 0 20% 0;
                font-style: italic;
            }
            .abstract-0 {
                text-decoration: underline;
            }
            .abstract {

            }
            .link {
                margin-top: 20%;
                width: fit-content;
                padding: 0;
                margin-left: 50%;
                color: #f2c94c;
                text-decoration: underline;
            }
        }
    }
    .loader {
        margin: 15% 0 0 0;
        @include flex-column();
        height: 10vh;
        width: 100%;
        background-color: rgba(255, 156, 25, 0.623);
    }

}


















@media (min-width: 540px) {

    .lista {
        
        .intro-articles {
           margin: 0;
           height: 45vh;
            .heading {
                font-size: 3.2em;
            }
            .description {
                font-size: 1.3em;
            }
            .wrap-arrow {
                
                .info {
                    font-size: 1.6em;
                }
            }
            
        }

        > * {
            margin: 20% 0;
        } 

        .article-1 {
            width: 70%;
            align-self: start;
            .cropped-1 {
                left: 10%;
                width: 80%;
                background-size: cover;
                background-position: center;
                .title {
                    margin: 15% 0 5% 0;
                }
                
                .link {
                    margin-top: 5%;
                    width: fit-content;
                    padding: 0;
                    margin-left: 50%;
                }
            }
            .shadowing {
                width: 80%;
                left: 15%;
            }
        }

        .article-2 {
            height: 50vh;
            .cropped-2{
                
               
                background: url('./Lista//Fotos/2max.jpg');
                background-size: cover;
                background-position: bottom;
                
                .title {
                    margin: 5% 0 5% 0;
                }
                .link {
                    width: 85%;
                    margin-left: 0;
                    text-align: left;
                    margin-top: 5%;
                }
            }
        }
        
        .article-3 {
            width: 70%;
            align-self: flex-end;
            .cropped-3 {
                right: 10%;
                width: 80%;
                background-size: cover;
                background-position: center;
                
                .title {
                    margin: 15% 0 5% 0;
                }
                .link {
                    margin-top: 5%;
                    width: fit-content;
                    padding: 0;
                    margin-left: 50%;
                }
            }
            .shadowing {
                width: 80%;
                right: 15%;
            }
        }

        .article-4 {
            height: 50vh;
            .cropped-4{
                
                background: url('./Lista//Fotos/4.jpg');
                background-size: cover;
                background-position: top;
                
                .title {
                    margin: 5% 0 5% 0;
                }
                .link {
                    width: 85%;
                    margin-top: 5%;
                    text-align: left;
                    margin-left: 0;
                }
            }
        }

        .loader {
            margin: 15% 0 0 0;
            @include flex-column();
            height: 10vh;
            width: 100%;
            background-color: rgba(255, 156, 25, 0.623);
        }
    
    }
}