
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Exo';
    src: url('../../../fonts/Exo-Thin.woff2') format('woff2'),
        url('../../../fonts/Exo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('../../../fonts/Arvo.woff2') format('woff2'),
        url('../../../fonts/Arvo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../../../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../../fonts/Lato-Light.woff2') format('woff2'),
        url('../../../fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.article-written {
    margin-top: 7vh;
    margin-left: 8.5vw;
    margin-right: 8vw;
    margin-bottom: 20vh;
    text-align: left;
    // background: black;
    @include flex-column();
    .intro-article {
        
        .info {
            @include flex-row();
            // border: 1px solid black;
            justify-content: space-between;
            .date {
                font-family: 'Arvo';
                font-style: italic;
                color: #818181;
                font-size: 0.9em;
            }
            .time {
                @include flex-row();
                gap: 2px;
                .clock {
                    height: 20px;
                    width: 20px;
                    color: #818181;
                }
                .estimation {
                    font-family: 'Arvo';
                    font-style: italic;
                    color: #818181;
                    font-size: 0.9em;
                }
               
            }
        }
        .title {
            font-family: 'Playfair Display';
            font-size: 1.4em;
            margin: 5% 0;
        }
        .subtitle {
            font-family: 'Exo';
        }
        .writer {
            @include flex-row();
            gap: 5px;
            justify-content: flex-start;
            margin: 5% 0 7.5% 0;
            .pencil {
                height: 20px;
                width: 20px;

            }
            .who {
                font-family: 'Lato';
                // font-style: italic;
                font-weight: lighter;
            }
            
        }
        

    }

    .part {
        .title-2 {
            font-family: 'Playfair Display';
            margin-top: 7.5%;
        }
        .media {
            @include flex-column();
            .image {
                height: auto;
                width: 80vw;
            }
            .caption {
                margin-top: 5%;
                font-size: 0.9em;
                font-family: 'Lato';
                font-weight: lighter;
                color: #555555;
            }
        }
        .list {
            // border: 1px solid black;
            .item {
                font-family: 'Lato';
                font-weight: lighter;
                list-style: outside;
                // margin-left: 10%;
                margin: 3.5% 0 3.5% 10%;
                line-height: 125%;
            }
        }
        .content-link {
            .paragraph {
                line-height: 140%;
                background: #b1b1b11c;
                padding: 5%;
                border-left: 1px solid black;
            }
        }
    }

    .content {
        .paragraph {
            font-family: 'Lato';
            font-weight: lighter;
            line-height: 165%;
            margin: 10% 0;
        }
    }

    .hr-1 {
        width: 90%;
        border-top: 0.5px solid black;
        margin-left: 0%;
    }

    .extra {
        @include flex-row();
        border: 1px solid #b1b1b1;
        margin: 5% 0 15% 0;
        width: 100%;
        .wrapper-1 {
            width: 55%;
            .title-3 {
                font-family: 'Exo';
                text-decoration: underline;
                font-size: 1.1em;
                width: 85%;
                margin-left: 7.5%;
            }
            .subtitle-3 {
                font-family: 'Lato';
                font-style: italic;
                color: #a4a4a4;
                width: 85%;
                margin-left: 7.5%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
            .resource {
                font-family: 'Lato';
                font-style: italic;
                color: #969696;
                width: 85%;
                margin-left: 7.5%;
            }
        }
        .wrapper-2 {
            overflow: hidden;
            height: 25vh;
            width: 45%;
            box-shadow: inset 0 4px 4px 1000px rgba(99, 99, 99, 0.58);
            position: relative;
            // blur
            .extra-img-1 {
                height: 40vh;
                width: auto;
            }
            .extra-img-2 {
                height: 25vh;
                width: auto;
            }
        }
    }

    .share {
        width: 100%;
        .hr-2 {
            width: 100%;
            border-top: 0.5px solid black;
            margin-left: 0%;
        }
        .icons {
            border: 1px solid #b1b1b1;
            width: fit-content;
            // height: 6vh;
            @include flex-row();
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 5vh;
            .icon {
                height: 12.5vw;
                width: 12.5vw;
                margin: 0 3.5%;
            }
        }
    }

    .about {
        margin-top: 7.5vh;
        padding: 2% 0;
        border: 1px solid #b1b1b1;
        @include flex-column();
        .flexing {
            width: 100%;
            // border: 1px solid black;
            @include flex-row();
            justify-content: space-around;
            margin: 2.5vh 0;
            .mask {
                border-radius: 50%;
                height: 15vh;
                width: 15vh;
                overflow: hidden;
                @include flex-column();
                .author-img {
                    height: 15vh;
                    width: auto;
                }
            }
            
            .editor {
                @include flex-column();
                gap: 1.5vh;
                width: 50%;
                align-items: flex-start;
                // border: 1px solid black;
                .writer-line {
                    font-family: 'Lato';
                    font-weight: lighter;
                    // font-style: italic;
                    font-size: 1.1em;
                }
                .name-line {
                    font-family: 'Lato';
                    font-size: 1.2em;
                    text-decoration: underline;
                    // font-weight: lighter;
                }
            }
            
        }
        .quote {
            font-family: 'Lato';
            font-style: italic;
            margin: 2.5% 5% 7.5% 5%;
        }
    }

    .link {
        margin-top: 10vh;
        font-family: 'Lato';
        text-decoration: underline;
    }
}

@media (min-width: 760px) {
    .article-wrapper {
        background: rgba(84, 102, 108, 0.075);
        margin: 0;
        @include flex-column();
        .article-bg {
            // margin-top: 10vh;
            width: 45vw;
            @include flex-column();
            background: rgba(195, 233, 255, 0.75);
            .article-written {
                margin-top: 20vh;
                margin-bottom: 20vh;
                margin-left: 0;
                margin-right: 0;
                width: 40vw;
                padding: 10vh 2.5vw 10vh 2.5vw;
                // margin-right: 8vw;
                // margin-bottom: 20vh;
                text-align: left;
                background: white;
                @include flex-column();
                box-shadow: 0 0 2px 0 grey;
                .intro-article {
                    
                    .info {
                        @include flex-row();
                        // border: 1px solid black;
                        justify-content: space-between;
                        .date {
                            font-family: 'Arvo';
                            font-style: italic;
                            color: #818181;
                            font-size: 0.9em;
                        }
                        .time {
                            @include flex-row();
                            gap: 2px;
                            .clock {
                                height: 20px;
                                width: 20px;
                                color: #818181;
                            }
                            .estimation {
                                font-family: 'Arvo';
                                font-style: italic;
                                color: #818181;
                                font-size: 0.9em;
                            }
                        
                        }
                    }
                    .title {
                        font-family: 'Playfair Display';
                        font-size: 1.4em;
                        margin: 5% 0;
                    }
                    .subtitle {
                        font-family: 'Exo';
                    }
                    .writer {
                        @include flex-row();
                        gap: 5px;
                        justify-content: flex-start;
                        margin: 5% 0 7.5% 0;
                        .pencil {
                            height: 20px;
                            width: 20px;

                        }
                        .who {
                            font-family: 'Lato';
                            // font-style: italic;
                            font-weight: lighter;
                        }
                        
                    }
                    

                }

                .part {
                    .title-2 {
                        font-family: 'Playfair Display';
                        margin-top: 7.5%;
                    }
                    .media {
                        @include flex-column();
                        .image {
                            height: auto;
                            width: 20vw;
                        }
                        .caption {
                            margin-top: 5%;
                            font-size: 0.9em;
                            font-family: 'Lato';
                            font-weight: lighter;
                            color: #555555;
                        }
                    }
                    .list {
                        // border: 1px solid black;
                        .item {
                            font-family: 'Lato';
                            font-weight: lighter;
                            list-style: outside;
                            // margin-left: 10%;
                            margin: 3.5% 0 3.5% 10%;
                            line-height: 125%;
                        }
                    }
                    .content-link {
                        .paragraph {
                            line-height: 140%;
                            background: #b1b1b11c;
                            padding: 5%;
                            border-left: 1px solid black;
                        }
                    }
                }

                .content {
                    .paragraph {
                        font-family: 'Lato';
                        font-weight: lighter;
                        line-height: 165%;
                        margin: 10% 0;
                    }
                }

                .hr-1 {
                    width: 90%;
                    border-top: 0.5px solid black;
                    margin-left: 0%;
                }

                .extra {
                    @include flex-row();
                    border: 1px solid #b1b1b1;
                    margin: 5% 0 15% 0;
                    width: 100%;
                    .wrapper-1 {
                        width: 55%;
                        .title-3 {
                            font-family: 'Exo';
                            text-decoration: underline;
                            font-size: 1.1em;
                            width: 85%;
                            margin-left: 7.5%;
                        }
                        .subtitle-3 {
                            font-family: 'Lato';
                            font-style: italic;
                            color: #a4a4a4;
                            width: 85%;
                            margin-left: 7.5%;
                            margin-top: 5%;
                            margin-bottom: 5%;
                        }
                        .resource {
                            font-family: 'Lato';
                            font-style: italic;
                            color: #969696;
                            width: 85%;
                            margin-left: 7.5%;
                        }
                    }
                    .wrapper-2 {
                        overflow: hidden;
                        height: 25vh;
                        width: 45%;
                        box-shadow: inset 0 4px 4px 1000px rgba(99, 99, 99, 0.58);
                        position: relative;
                        // blur
                        .extra-img-1 {
                            height: 60vh;
                            width: auto;
                        }
                        .extra-img-2 {
                            height: 40vh;
                            width: auto;
                        }
                    }
                }

                .share {
                    width: 100%;
                    .hr-2 {
                        width: 100%;
                        border-top: 0.5px solid black;
                        margin-left: 0%;
                    }
                    .icons {
                        border: 1px solid #b1b1b1;
                        width: fit-content;
                        // height: 6vh;
                        @include flex-row();
                        justify-content: flex-end;
                        margin-left: auto;
                        margin-top: 5vh;
                        .icon {
                            cursor: pointer;
                            height: 3vw;
                            width: 3vw;
                            margin: 0 3.5%;
                        }
                    }
                }

                .about {
                    margin-top: 7.5vh;
                    padding: 2% 0;
                    border: 1px solid #b1b1b1;
                    @include flex-column();
                    .flexing {
                        width: 100%;
                        // border: 1px solid black;
                        @include flex-row();
                        justify-content: space-around;
                        margin: 2.5vh 0;
                        .mask {
                            border-radius: 50%;
                            height: 15vh;
                            width: 15vh;
                            overflow: hidden;
                            @include flex-column();
                            .author-img {
                                height: 15vh;
                                width: auto;
                            }
                        }
                        
                        .editor {
                            @include flex-column();
                            gap: 1.5vh;
                            width: 50%;
                            align-items: flex-start;
                            // border: 1px solid black;
                            .writer-line {
                                font-family: 'Lato';
                                font-weight: lighter;
                                // font-style: italic;
                                font-size: 1.1em;
                            }
                            .name-line {
                                font-family: 'Lato';
                                font-size: 1.2em;
                                text-decoration: underline;
                                // font-weight: lighter;
                            }
                        }
                        
                    }
                    .quote {
                        font-family: 'Lato';
                        font-style: italic;
                        margin: 2.5% 5% 7.5% 5%;
                    }
                }

                .link {
                    margin-top: 10vh;
                    font-family: 'Lato';
                    text-decoration: underline;
                }
            }
        }
    }
}