
@font-face {
    font-family: 'Rufina';
    src: url('../../../../fonts/Rufina-Regular.woff2') format('woff2'),
        url('../../../../fonts/Rufina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../../../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../../../fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../../../../fonts/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas';
    src: url('../../../../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../../../../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Sansita';
    src: url('../../../../fonts/Sansita-Regular.woff2') format('woff2'),
        url('../../../../fonts/Sansita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.wrapping {
    display: flex;
    flex-direction: column;
    background: #54666c13;
    .intro-historia {
        height: 70vh;
        @include flex-column();
        background: url(../images/historia.jpg);
        background-size: cover;
        color: rgba(255, 255, 255, 0.767);
        background-position: center;
        justify-content: flex-start;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.699);
        width: 100vw;
        .intro-title {
            margin-top: 40%;
            font-size: 2.5em;
            font-family: 'Bebas';
            letter-spacing: 0.05em;
            // padding-bottom: 20%;
        }
        .intro-subtitle {
            margin-top: 35%;
            font-size: 1.1em;
            font-family: 'Sansita';
            font-weight: lighter;
        }
       
    }
    .historia {
        margin: 20vh 0;
        background: white;
        // height: 80vh;
        // border-top: 2px solid black;
        // border-bottom: 2px solid black;
        box-shadow: 0 0 2px 0 grey;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        justify-content: center;
        .line {
            color: white;
            // margin-top: 20%;
            position: relative;
            width: 100vw;
            height: 5vh;
            background: black;
            margin: 12.5% 0 7.5% 0;
            // @include flex-column();
            // align-content: flex-start;
            .years {
                width: 2000vw;
                position: absolute;
                font-family: 'Rufina';
                // font-size: 1.4em;
                left: calc(50vw - 10vw);
                // top: -25px;
                top: calc(2.5vh - 10vw);            
                // width: auto;
                // border: 1px solid black;
                @include flex-row();
                // margin-left: 50vw;
                justify-content: flex-start;
                // position: absolute;
                .circle {
                    width: 20vw;
                    height: 20vw;
                    border-radius: 50%;
                    background: black;
                    margin: 0 100vw 0 0;
                    @include flex-column();
                    font-size: 0.8em;
                }
            }
        }
        .sound {
            // background: blueviolet;
            width: 60vw;
            height: 5vh;
            // border: 1px solid black;
            position: relative;
            // background: gray;
            margin-left: auto;
            margin-right: 4vw;
            margin-top: 1vh;
            margin-bottom: 2vh;
            overflow: hidden;
            .note {
                height: 5vw;
                width: 5vw;
                color: black;
                position: absolute;
                left: 3.5vw;
                top: 1vw
            }
            .single {
                @include flex-column();
                font-family: 'Roboto';
                align-items: flex-start;
                width: 200vw;
                font-size: 0.8em;
                height: 7.5vw;
                // border: 1px solid black;
                margin: 0 5% 0 0;
                position: absolute;
                // left: 0;
                left: 11vw;
                // width: 50vw;
            }
        }
        .stories {
            
            // background: lightseagreen;
            // border: 1px solid black;
            // width: 100%;
            width: 400vw;
            height: 65vh;
            @include flex-column();
            align-content: flex-start;
            flex-wrap: wrap;
            .story {
                // border: 1px solid black;
                height: 65vh;
                width: 100vw;
                @include flex-column();
                justify-content: flex-start;
                overflow: hidden;
                text-align: left;
                margin: 2.5vh 0 3vh 0;
                // margin: 2.5vh 0;
                // overflow-y: scroll;
                // padding: 0 5%;
                // margin: 0 10% 0 0;
                // y jugar con height, igual poner un div de toda la altura para q funcione para cualquier zona o igual solo ajustar la altura de la historia
                .img-group {
                    @include flex-column();
                    padding: 2.5vh 0;
                    gap: 2vh;
                    .img-story {
                        width: 65vw;
                        height: auto;
                        // display: none;
                    }
                    .caption-story {
                        color: #555555;
                        font-size: 0.9em;
                        font-family: 'Lato';
                        font-weight: lighter;
                        width: 60vw;
                        text-align: center;
                    }
                }
                
                .story-title {
                    // display: none;
                    font-family: 'Josefin Sans';
                    font-weight: bold;
                    font-size: 1.5em;
                    margin: 0 5% 0 5%;
                    padding: 5% 0 0 7.5%;
                    background: rgba(195, 233, 255, 0.5);
                }
                .content {
                    // display: none;
                    margin: 5% 7.5% 0 10%;
                    .paragraph {
                        line-height: 165%;
                        font-family: 'Lato';
                    }
                }
            }
            .dark {
                background: black;
            }
        }
    }
}

@media (min-width: 760px) {
    .wrapping {
        .intro-historia {
            height: 45vh;
            justify-content: center;
            .intro-title {
                margin: 0;
                font-size: 3.2em;
                padding-top: 5%;
            }
            .intro-subtitle {
                margin: 0;
                text-align: center;
                font-size: 1.6em;
                padding: 0;
                width: 70%;
                padding: 5% 0 2.5% 0;
                
            }
        }
        .historia {
            margin: 20vh 0;
            // background: gray;
            // height: 100vh;
            height: auto;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            display: flex;
            border: none;
            flex-direction: column;
            justify-content: flex-start;
            .line {
                color: white;
                // margin-top: 20%;
                position: relative;
                width: 100vw;
                height: 5vh;
                background: black;
                margin: 8.5vh 0 0 0;
                // @include flex-column();
                // align-content: flex-start;
                .years {
                    width: 2000vw;
                    position: absolute;
                    font-family: 'Rufina';
                    // font-size: 1.4em;
                    left: calc(50vw - 3vw);
                    // top: -25px;
                    top: calc(2.5vh - 3vw);            
                    // width: auto;
                    // border: 1px solid black;
                    @include flex-row();
                    // margin-left: 50vw;
                    justify-content: flex-start;
                    // position: absolute;
                    .circle {
                        width: 6vw;
                        height: 6vw;
                        border-radius: 50%;
                        background: black;
                        margin: 0 100vw 0 0;
                        @include flex-column();
                        font-size: 0.8em;
                    }
                }
            }
            .sound {
                // background: blueviolet;
                width: 40vw;
                height: 2.5vw;
                // border: 1px solid black;
                position: relative;
                // background: gray;
                margin-left: auto;
                margin-right: 7.5vw;
                margin-bottom: 0;
                margin-top: 7.5vh;
                // margin-bottom: -7.5%;
                overflow: hidden;
                .note {
                    height: 2.5vw;
                    width: 2.5vw;
                    color: black;
                    position: absolute;
                    left: 15.5vw;
                    top: 0;
                }
                .single {
                    @include flex-column();
                    font-family: 'Roboto';
                    align-items: flex-start;
                    width: 200vw;
                    font-size: 0.8em;
                    height: 2.5vw;
                    // border: 1px solid black;
                    margin: 0 5% 0 0;
                    position: absolute;
                    // left: 0;
                    left: 19vw;
                    // width: 50vw;
                }
            }
            .stories {
                
                // background: lightseagreen;
                // border: 1px solid black;
                // width: 100%;
                width: 400vw;
                height: 60vh;
                @include flex-column();
                margin: 4vh 0 0 0;
                align-content: flex-start;
                flex-wrap: wrap;
                .story {
                    border: none;
                    // border: 1px solid black;
                    height: 60vh;
                    width: 65vw;
                    margin: 0 17.5vw;
                    @include flex-column();
                    justify-content: flex-start;
                    overflow: hidden;
                    text-align: left;
                    position: relative;
                    // overflow-y: scroll;
                    // padding: 0 5%;
                    // margin: 0 10% 0 0;
                    // y jugar con height, igual poner un div de toda la altura para q funcione para cualquier zona o igual solo ajustar la altura de la historia
                    .img-group {
                        @include flex-column();
                        width: 25vw;
                        // padding: 2.5vh 0;
                        padding: 0;
                        gap: 2vh;
                        position: absolute;
                        top: 20vh;
                        left: 0;
                        .img-story {
                            // box-shadow:   0 0 1px 1000px rgb(0, 0, 0);
                            width: 25vw;
                            height: auto;
                            // display: none;
                        }
                        .caption-story {
                            color: #555555;
                            font-size: 0.9em;
                            font-family: 'Lato';
                            font-weight: lighter;
                            width: 25vw;
                            text-align: center;
                        }
                    }
                    
                    .story-title {
                        // display: none;
                        font-family: 'Josefin Sans';
                        font-weight: bold;
                        font-size: 2em;
                        margin: 0;
                        z-index: 2;
                        padding: 2.5% 0 0 5%;
                        // border: 1px solid black;
                        // margin: 0 5% 0 5%;
                        // padding: 5% 0 0 7.5%;
                        background: none;
                        // background: rgba(195, 233, 255, 0.5);
                    }
                    .content {
                        position: absolute;
                        // display: none;
                        width: 34vw;
                        right: -1vw;
                        top: 8vh;
                        font-size: 0.8em;
                        background: rgba(195, 233, 255, 0.5);
                        
                        padding: 5% 4% 2% 12.5% ;
                        // margin: 5% 7.5% 0 10%;
                        margin: 0;

                        .paragraph {
                            line-height: 145%;
                            font-family: 'Lato';
                        }
                    }
                }
            }
        }
    }
}