
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.historia {
    // overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .line {
        color: white;
        // margin-top: 20%;
        position: relative;
        width: 40vw;
        height: 2.5vh;
        background: black;
        // @include flex-column();
        // align-content: flex-start;
        .years {
            width: 200vw;
            position: absolute;
            left: calc(20vw - 25px);
            // top: -25px;
            top: calc(1.25vh - 25px);            
            // width: auto;
            border: 1px solid black;
            @include flex-row();
            // margin-left: 50vw;
            justify-content: flex-start;
            // position: absolute;
            .circle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: blue;
                margin: 0 5% 0 0;
                @include flex-column();
                font-size: 0.8em;
            }
        }
    }
    .sound {
        background: blueviolet;
        width: 100vw;
        @include flex-row();
        .single {
            border: 1px solid black;
            margin: 0 5% 0 0;
        }
    }
    .stories {
        border: 1px solid black;
        // width: 100%;
        width: 400vw;
        height: 60vh;
        @include flex-column();
        align-content: flex-start;
        flex-wrap: wrap;
        .story {
            border: 1px solid black;
            height: 40vh;
            width: 100vw;
            @include flex-column();
            // padding: 0 5%;
            // margin: 0 10% 0 0;
            // overflow: scroll;
            // y jugar con height, igual poner un div de toda la altura para q funcione para cualquier zona o igual solo ajustar la altura de la historia
        }
        .dark {
            background: black;
        }
    }
}
.dark {
    background: black;
}