
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin complete {
    height: 100%;
    width: 100%;
}

$image-height: 180px;
$image-width: 180px;
$top-disc: ($image-height)/(2) ;
$left-disc: ($image-width)/(2) ;

.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // background: url('./Images/bg-obras.jpg');
    background: linear-gradient(to bottom, #200122, #6f0000, #200122);
    background-attachment: fixed;
    // background-size: cover;
    .introduction {
        color: white;
        @include flex-column();
        height: 40vh;
        font-size: 2em;
    }

    .filtros {
        color: rgba(255, 255, 255, 0.63);
        margin: 0 5%;
        height: 20vh;
        @include flex-row();
        justify-content: space-around;
        background-color: gray;
        border-radius: 20px;
        .finder {
            @include flex-row();
            @include complete();
            gap: 5%;
            .heading {
                width: 10vw;
            }
            .searcher {
                width: 15vw;
            }
        }
        .genre {
            @include flex-column();
            @include complete();
            width: 50%;
        }
        .sorting {
            @include flex-column();
            @include complete();
            width: 50%;
        }
        .available {
            @include flex-row();
            @include complete();
            gap: 5%;
            width: 80%;
            .marker-info {
                width: 16vw;
            }
            .playable {
            }
        }
    }
    
    .lista {
        background: transparent;
        margin: 0 5%;
        // margin-bottom: 5%;
        border: 6px solid green;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        .obra {
            position: relative;
            @include flex-column();
            justify-self: center;
            justify-content: flex-start;
            height: 40vh;
            width: 70%;
            margin: 0 2.5%;
            border: 1px solid black;
            padding-top: 15%;
            background-color: grey;
            border-radius: 5%;
            
            .photo {
                position: relative;
                height: 25vh;
                // width: 80%;
                height: $image-height;
                width: $image-width;
                background-size: cover;
                z-index: 2;
                .none {
                    display: none;
                }
                .circle-disc {
                    z-index: 3;
                    position: absolute;
                    top: $top-disc;
                    left: $left-disc;
                    height: 30px;
                    width: 30px;
                    background-color: white;
                    border: 2px solid rgba(0, 0, 0, 0.623);
                    border-radius: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }
                .button-to-play {
                    cursor: pointer;
                    display: none;
                    position: absolute;
                    z-index: 4;
                    transform: translateY(-50%) translateX(-50%);
                    top: $top-disc;
                    left: $left-disc;
                    .play-figure {
                        color: rgb(255, 255, 255);
                        height: 150px;
                        width: 150px;
                    }
                }
            }
            .titulo {
                margin-top: 5%;
                font-size: auto;
            }
            .autor {
                margin-top: 2%;
            }
            
            
        }
        // .obra:hover {
        //     animation: song 1s linear forwards;
        // }
    }
    
    .scrolling {
        height: 10vh;
        @include flex-column();
    }
    .center {
        margin: 2.5% 0;
        @include flex-row();
        .pagination {
            @include flex-row();
            .page-item {
                .link {
                    @include flex-column();
                    cursor: pointer;
                    height: 25px;
                    width: 25px;
                }
                .page {
                    background-color: white;
                    color: black;
                }
                .active {
                    background-color: rgba(128, 128, 128, 0.795);
                    color: white;
                }
            }
        }
    }
    
}

.none {
    display: none;
}


@media (max-width: 760px) {

    .obra {

    }

}

// @keyframes song {
//     from {
//         transform: scale(1);
//     }
//     to {
//         transform: scale(1.05);
//     }
// }