
@font-face {
    font-family: 'Bebas';
    src: url('../../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sansita';
    src: url('../../fonts/Sansita-Regular.woff2') format('woff2'),
        url('../../fonts/Sansita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Proza';
    src: url('../../fonts/ProzaLibre-Regular.woff2') format('woff2'),
        url('../../fonts/ProzaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin complete {
    height: 100%;
    width: 100%;
}

@mixin paginating {
    @include flex-row();
        .pagination {
            @include flex-row();
            .page-item {
                .link {
                    @include flex-column();
                    cursor: pointer;
                    height: 25px;
                    width: 26px;
                    padding-top: 2px;
                }
                .page {
                    color: rgba(255, 255, 255, 0.8);
                }
                .active {
                    background-color: rgba(122, 121, 121, 0.842);
                    color: white;
                }
            }
        }
}

ul {
    padding: 0;
}

$image-height: 180px;
$image-width: 180px;
$top-disc: ($image-height)/(2) ;
$left-disc: ($image-width)/(2) ;

.body-hidden {
    overflow-x: hidden;
    width: 100%;
    .introduction {
        background: url('./Images/obras-bg.jpg');
        width: 100%;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, 0.644);
        color: rgba(255, 255, 255, 0.767);
        @include flex-column();
        justify-content: flex-end;
        height: 70vh;
        .songs-header {
            width: 80%;
            text-align: center;
            font-family: 'Bebas';
            font-size: 2em;
            letter-spacing: 0.05em;
            padding:0 0 35% 0;
        }
        .songs-subtitle {
            width: 60%;
            font-size: 1.3em;
            text-align: center;
            font-family: 'Sansita';
            padding-bottom: 15%;
            padding-left: 10%;
            padding-right: 10%;
            font-weight: lighter;
        }
    }

    .wrapper {
        @include complete();
        font-family: 'Proza';
        background: linear-gradient(180deg, #444444, #3e3e3e, #383838, #323232, #2d2d2d, #272727, #222222, #1c1c1c, #171717, #111111, #0a0a0a, #000000, #0a0a0a, #111111, #171717, #1c1c1c, #222222, #272727, #2d2d2d, #323232, #383838, #3e3e3e, #444444);
        @include flex-column();


        .options {
            width: fit-content;
            background-color: #BFE4FF;
            padding: 2.5% 6%;
            margin-top: 15vh;
            margin-right: auto;
            margin-left: 15%;
            height: 3.5vh;
            @include flex-row();
            gap: 24px;
            box-shadow: inset 0 0 2px 1px rgba(121, 121, 121, 0.774);
            border-radius: 10px;
            .songs-filtering {
                font-size: 1.25em;
                font-weight: lighter;
            }
            .sorting {
                color: #BFE4FF;
                height: 25px;
                width: 12.5px;
                cursor: pointer;
                transform: rotate(90deg);
                background: black;
            }
        
        }
        

        .filtros {
            color: black;
            margin: 0 5% 5% 5%;
            margin-top: 15vh;
            height: 200px;
            width: 50%;
            display: grid;
            border-radius: 10px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10%;
            background-color: #BFE4FF;
            box-shadow: inset 0 0 2px 2px rgba(121, 121, 121, 0.774);
            padding: 7% 7.5% 7% 7.5%;
            position: relative;
            > * {
                font-weight: lighter;
            }
            .closing {
                position: absolute;
                right: 3.5%;
                top: 3.5%;
                color: black;
                background: none;
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
            .finder {
                @include flex-column();
                align-items: flex-start;
                @include complete();
                gap: 10px;
                .heading {
                    width: 100%;
                    font-weight: lighter;
                    text-align: left;
                }
                .searcher {
                    border: none;
                    border-radius: 2.5px;
                    padding: 1% 2%;
                    box-shadow: 0 0 2px 0 gray;
                }
            }
            .genre {
                @include flex-row();
                justify-content: flex-start;
                gap: 10px;
                @include complete();
                .genre-head {
                    font-weight: lighter;
                    width: 60px;
                    text-align: left;
                }
                .genre-option {
                    width: 50%;
                    border: none;
                    border-radius: 2.5px;
                    padding: 1% 2%;
                    box-shadow: 0 0 2px 0 gray;
                }
            }
            .sorting {
                @include flex-row();
                justify-content: flex-start;
                gap: 10px;
                @include complete();
                .sorting-head {
                    font-weight: lighter;
                    width: 60px;
                    text-align: left;
                }
                .sorting-option {
                    width: 50%;
                    border: none;
                    border-radius: 2.5px;
                    padding: 1% 2%;
                    box-shadow: 0 0 2px 0 gray;
                }
            }
            .available {
                @include flex-row();
                justify-content: flex-start;
                @include complete();
                gap: 15px;
                .marker-info {
                    * {
                        font-weight: lighter;
                    }
                    text-align: left;
                    width: fit-content;
                }
                .playable {
                    
                }
            }
        }
        
        .lista {
            height: 100%;
            background: transparent;
            margin: 15% 5% 15% 5%;
            overflow: hidden;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-auto-rows: 400px;
            .obra-wrapper {
                margin: 0;
                width: 100%;
                height: 100%;
                @include flex-column();
                justify-content: flex-start;
                .obra {
                    position: relative;
                    @include flex-column();
                    justify-self: center;
                    justify-content: flex-start;
                    width: 70%;
                    margin: 10% 2.5%;
                    
                    .photo {
                        position: relative;
                        height: 30vh;
                        width: 30vh;
                        background-size: cover;
                        z-index: 2;
                        @include flex-column();
                        .button-to-play {
                            cursor: pointer;
                            z-index: 4;
                            @include flex-column();
                            .outline {
                                height: 70px;
                                width: 70px;
                                border: 1px solid white;
                                background: rgba(0, 0, 0, 0.562);
                                border-radius: 50%;
                                @include flex-column();
                                .play-figure {
                                    color: rgb(255, 255, 255);
                                    height: 80%;
                                    width: 80%;
                                }
                                .pause-figure {
                                    color: rgb(255, 255, 255);
                                    height: 50%;
                                    width: 50%;
                                }
                            }
                            
                        }
                        
                    }
                    .shadow {
                        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.637);
                    }
                    .titulo {
                        margin-top: 7.5%;
                        font-size: 1em;
                        width: 25vh;
                        color: rgba(255, 255, 255, 0.9);
                    }
                    .autor {
                        margin-top: 2.5%;
                        width: 25vh;
                        color: #b3b3b3;
                        font-size: 0.9em;
                    }
                    .paginate-2 {
                        margin: 7.5% 0 7.5% 0;
                    }
                    
                }
                
            }
            
        }
        
        .scrolling {
            height: 10vh;
            @include flex-column();
        }
        .center {
            margin: 15vh 0 0 0;
            @include paginating();
        }
        .center-2 {
            margin: 0 0 30vh 0;
            @include paginating();
        }
        
    }

    .none {
        display: none;
    }
}
// }





@media (min-width: 760px) {
    .body-hidden {
        background: rgba(84, 102, 108, 0.075);
        .introduction {
            height: 45vh;
            justify-content: center;
            .songs-header {
                font-size: 3.2em;
                letter-spacing: 0.05em;
                padding: 0;
            }
            .songs-subtitle {
                text-align: center;
                font-size: 1.6em;
                padding: 0;
                width: 60%;
                padding: 5% 0 0 0;
            }
        }
        .wrapper {
            margin: 0 15%;
            width: auto;
            .options {
                padding: 1% 2%;
                margin-top: 7.5vh;
                margin-right: auto;
                margin-left: 15%;
                gap: 24px;
                .songs-filtering {
                    font-size: 1.1em;
                }
            }
            .center {
                margin: 10vh 0 5vh 0;
                @include paginating();
            }
            .center-2 {
                margin: 0 0 25vh 0;
                @include paginating();
            }
            .lista {
                margin-top: 5%;
                margin-bottom: 5%;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                .obra-wrapper {
                    .obra {
                        height: 100%;
                        margin: 17.5% 2.5% 17.5% 2.5%;
                        .photo {
                            height: 25vh;
                            width: 25vh;
                        }
                    }
                }
            }
            .filtros {
                margin: 5% 0 5% 0;
                margin-top: 7.5vh;
                padding: 3% 2.5% 2% 3%;
                height: 70px;
                width: 65%;
                gap: 2.5%;
                display: flex;
                > * {
                    font-weight: lighter;
                }
                .closing {
                    right: 1.5%;
                    top: 7%;
                    height: 15px;
                    width: 15px;
                    
                }
                .finder {
                    gap: 10px;
                    .heading {
                        width: 180px;
                    }
                    .searcher {
                        width: 80%;
                        
                    }
                }
                .genre {
                    @include flex-column();
                    align-items: flex-start;
                    gap: 10px;
                    .genre-head {
                        width: 60px;
                    }
                    .genre-option {
                        width: 90px;
                    }
                }
                .sorting {
                    @include flex-column();
                    align-items: flex-start;
                    gap: 10px;
                    .sorting-head {
                        width: 110px;
                    }
                    .sorting-option {
                        width: 90px;
                    }
                }
                .available {
                    gap: 15px;
                    .marker-info {
                        width: 105px;
                    }
                    .playable {
                        
                    }
                }
            }
        }
    }
}