
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

@mixin card-style {
  // background: rgba(195, 233, 255, 0.75);
  background: white;
        width: 100vw;
        height: 85vh;
        position: relative;
        box-shadow: inset 0px 0px 2px 0 grey;
}

@mixin header-style {
  font-weight: lighter;
          font-size: 1.4em;
          background: rgba(255, 255, 255, 0.8);
          position: absolute;
          top: 3.5vh;
          margin: 0 10% 0 7.5%;
}

@mixin mask-style {
  
  background: yellow;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

@mixin link-style {
  @include flex-row();
  position: absolute;
  background: rgba(255, 255, 255, 0.84);
  padding: 2% 1% 2% 0;
  text-decoration: underline;
  gap: 2%;
  font-size: 0.9em;
}

@mixin text-style {
  font-family: 'Lato';
  text-align: left;
  padding:0 2.5% 2.5% 5%;
}

@mixin head-style {
  font-size: 1.2em;
  font-weight: lighter;
  text-decoration: underline;
  padding: 5% 5% 0 5%;
  width: 90%;
}

@mixin content-style {
  position: absolute;
  background: rgba(245, 249, 255, 0.71);
  padding: 2%;
  @include flex-column();
  justify-content: space-around;
}

  @font-face {
    font-family: 'Lora';
    src: url('../../fonts/Lora-Regular.woff2') format('woff2'),
        url('../../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Light.woff2') format('woff2'),
        url('../../fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Milliard';
    src: url('../../fonts/Milliard-Thin.woff2') format('woff2'),
        url('../../fonts/Milliard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../../fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../../fonts/PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul {
  margin: 0;
}

.inicio {
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
    .background-carousel {
      background-color: black;
      .carousel {
        position: relative;
        height: 65vh;
        width: 100vw;
        margin: 5vh 0 0 0;
        background-color: black;
        .carousel-bttn {
          display: none;
        }
        .image-list {
          * {
            object-fit: cover;
            object-position: center;
            width: 100vw;
            height: 40vh;
          }
          
          #img1 {
            position: absolute;
            top: 0;
            left: 0;
          }
          #img2 {
            position: absolute;
            top: 0;
            left: 100vw;
          }
          #img3 {
            position: absolute;
            top: 0;
            left: 200vw;
          }
          #img4 {
            position: absolute;
            top: 0;
            left: 300vw;
          }
        }
        .limit {
          height: 10vh;
          width: 10vw;
          background: yellowgreen;
          border: 1px solid white;
        }
        .content-list {
          @include flex-column();
          
          #item {
            opacity: 0;
            .content-inner{
              h3 {
                @include flex-column();
              }
              :nth-child(1) {
                margin-bottom: 3%;
                font-size: 1em;
                // font-family: 'PT Serif';
                font-weight: lighter;
                padding-top: 1%;
                padding-left: 3%;
                padding-right: 3%;
              }
              :nth-child(2) {
                font-family: 'Milliard';
                font-size: 0.8em;
                padding-bottom: 2%;
              }
              padding: 3% 3%;
              width: 100vw;
              background-color: rgba(255, 255, 255, 0.884);
              position: absolute;
              top: 52.5vh;
              left: 50vw;
              transform: translateX(-50%) translateY(-50%);
            }
          }
        }
      }
    }
    
    .feed {
      @include flex-column();
      // background: white;
      background: rgba(195, 233, 255, 0.75);
      font-family: 'Lora';
      text-align: left;
      .item-1 {
        @include card-style();
        margin: 50% 0 35% 0;
        .header-1 {
          @include header-style();
          padding: 2.5% 2.5% 2.5% 4%;
          top: 3.5vh;
          margin: 0 10% 0 7.5%;
        }
        .mask {
          @include mask-style();
          height: 20vh;
          width: 65vw;
          top: 15.5vh;
          right: 5vw;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            height: 20vh;
            width: 60vw;
          }
          .info-image {
            position: absolute;
            left: 0;
            z-index: 2;
            height: 30vh;
            width: auto;
          }
        }
        .content-1 {
          @include content-style();
          top: 33vh;
          z-index: 3;
          margin: 0 10% 0 9%;
          .head {
            @include head-style();
          }
          .text {
            @include text-style();
          }

        }
        .link-1 {
          @include link-style();
          width: 50vw;
          z-index: 4;
          top: 74vh;
          right: 7.5vw;
        }
      }

      .item-2 {
        margin: 35% 0 35% 0;
        @include card-style();

        .header-2 {
          @include header-style();
          padding: 2.5% 2.5% 2.5% 4%;
        }
        .content-2 {
          z-index: 5;
          @include content-style();
          top: 16vh;
          // height: ;
          margin: 0 10% 0 9%;
          .head {
            @include head-style();
          }
          .text {
            @include text-style();
          }
        }
        .wrap{
          position: absolute;
          z-index: 2;
          top: 45vh;
          left: 15vw;
          .mask1 {
            z-index: 2;
            transform: rotate(7.5deg);
            height: 32.5vh;
            width: 57.5vw;
            overflow: hidden;
            position: absolute;
          }
          .info-image-1 {
            height: 305px;
            width: auto;
            position: absolute;
            left: -10vw;
            top: -5vh;
          }
          .mask2 {
            z-index: 3;
            transform: rotate(-7.5deg);
            overflow: hidden;
            height: 32.5vh;
            width: 57.5vw;
            position: absolute;
          }
          .info-image-2 {
            height: 405px;
            width: auto;
            position: absolute;
            top: -10vh;
          }
          .mask3 {
            // transform: rotate(-5deg);
            overflow: hidden;
            height: 32.5vh;
            width: 57.5vw;
            z-index: 4;
            position: absolute;
          }
          .info-image-3 {
            height: 355px;
            width: auto;
            position: absolute;
            top: -15vh;
          }
        }
        .link-2 {
          @include link-style();
          width: 55vw;
          top: 67.5vh;
          right: 7.5vw;
          z-index: 5;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .item-3 {
        margin: 35% 0 35% 0;
        @include card-style();
        .header-3 {
          @include header-style();
          padding: 2.5% 2.5% 2.5% 4%;
        }
        .mask {
          @include mask-style();
          height: 20vh;
          width: 65vw;
          top: 17vh;
          left: 10vw;
          z-index: 2;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            top: 0;
            left: 0;
            z-index: 42;
            height: 20vh;
            width: 60vw;
          }
          .item-3-image {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 44;
            height: 50vh;
            width: auto;
          }
        }
        .content-3 {
          background: rgba(245, 249, 255, 0.71);
          @include content-style();
          top: 35vh;
          // height: ;
          margin: 0 12.5% 0 7.5%;
          z-index: 3;
          .head {
            @include head-style();
          }
          .text {
            @include text-style();
          }
        }
        .link-3 {
          @include link-style();
          width: 40vw;
          top: 74vh;
          right: 10vw;
          z-index: 4;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .item-4 {
        margin: 35% 0 100% 0;
        @include card-style();
        .header-4 {
          @include header-style();
          padding: 2.5% 2.5% 2.5% 4%;
        }
        .content-4 {
          background: rgba(245, 249, 255, 0.71);
          @include content-style();
          top: 16vh;
          margin: 0 12.5% 0 7.5%;
          z-index: 3;
          .head {
            @include head-style();
          }
          .text {
            @include text-style();
          }
        }
        .mask {
          @include mask-style();
          height: 21vh;
          width: 70vw;
          z-index: 2;
          top: 60vh;
          left: 20vw;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            top: 0;
            left: 0;
            z-index: 42;
            height: 30vh;
            width: 75vw;
          }
          .item-4-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 44;
            height: 60vh;
            width: auto;
          }
        }
        .link-4 {
          @include link-style();
          width: 37.5vw;
          top: 63.5vh;
          right: 12.5vw;
          z-index: 4;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .arrow {
        height: 25px;
        width: 25px;
      }
      
     
    }
}

.introduccion {
    height: 20vh;
    @include flex-column();
}

h3, h2, h4 {
  margin: 0;
}

@media (min-width: 760px) {
  .inicio {
    background: #54666c13;
    .background-carousel {
      .carousel {
        margin: 0;
        height: 45vh;
        .image-list {
          * {
            height: 45vh;
          }
        }
        .content-list {
          #item {
            left: 0;
            .content-inner {
              top: 22.5vh;
              width: fit-content;
              padding: 2%;
              :nth-child(1) {
                font-size: 1.2em;
                padding: 0;
                margin-bottom: 2%;
              }
              :nth-child(2) {
                font-size: 0.9em;
                padding: 0;
              }
            }
          }
        }
      }
    }
    
    .feed {

      // background: rgba(255, 255, 255, 0.897);
      .item-1 {
        margin: 20% 0 20% 0;
        width: 50vw;
        .header-1 {
          top: 5vh;
          font-size: 1.5em;
        }
        .mask {
          height: 25vh;
          width: 22.5vw;
          top: 15vh;
          right: 3.5vw;
          .bg {
            height: 25vh;
            width: 22.5vw;
          }
          .info-image {
            height: 40vh;
          }
        }
        .content-1 {
          top: 37.5vh;
          font-size: 1em;
        }
        .link-1 {
          width: 20vw;
          top: 70vh;
          right: 4vw;
          font-size: 1.3em;
        }
      }

      .item-2 {
        margin: 10% 0 20% 0;
        width: 50vw;

        .header-2 {
          top: 5vh;
          font-size: 1.5em;
        }
        .content-2 {
          font-size: 1em;
        }
        .wrap{
          position: absolute;
          z-index: 2;
          top: 45vh;
          left: 10vw;
          .mask1 {
            z-index: 2;
            transform: rotate(7.5deg);
            height: 30vh;
            width: 20vw;
            overflow: hidden;
            position: absolute;
          }
          .info-image-1 {
            height: 305px;
            width: auto;
            position: absolute;
            left: -10vw;
            top: -5vh;
          }
          .mask2 {
            z-index: 3;
            transform: rotate(-7.5deg);
            overflow: hidden;
            height: 30vh;
            width: 20vw;
            position: absolute;
          }
          .info-image-2 {
            height: 405px;
            width: auto;
            position: absolute;
            top: -10vh;
          }
          .mask3 {
            // transform: rotate(-5deg);
            overflow: hidden;
            height: 30vh;
            width: 20vw;
            z-index: 4;
            position: absolute;
          }
          .info-image-3 {
            height: 355px;
            width: auto;
            position: absolute;
            top: -15vh;
          }
        }
        .link-2 {
          width: 22.5vw;
          top: 62.5vh;
          right: 5vw;
          font-size: 1.3em;
        }
      }

      .item-3 {
        margin: 10% 0 20% 0;
        width: 50vw;
        .header-3 {
          top: 5vh;
          font-size: 1.5em;
        }
        .mask {
          @include mask-style();
          height: 25vh;
          width: 22.5vw;
          top: 17vh;
          left: 10vw;
          z-index: 2;
          .bg {
            height: 25vh;
            width: 22.5vw;
          }
          .item-3-image {
            height: 50vh;
          }
        }
        .content-3 {
          top: 40vh;
          font-size: 1em;
        }
        .link-3 {
          width: 17.5vw;
          top: 72vh;
          right: 5vw;
          font-size: 1.3em;
        }
      }

      .item-4 {
        margin: 10% 0 20% 0;
        width: 50vw;
        .header-4 {
          top: 5vh;
          font-size: 1.5em;
        }
        .content-4 {
          background: rgba(245, 249, 255, 0.71);
          @include content-style();
          top: 20vh;
          margin: 0 12.5% 0 7.5%;
          z-index: 3;
          font-size: 1em;
          .head {
            @include head-style();
          }
          .text {
            @include text-style();
          }
        }
        .mask {
          height: 22.5vh;
          width: 22.5vw;
          top: 47.5vh;
          left: 5vw;
          .bg {
            height: 27.5vh;
            width: 22.5vw;
          }
          .item-4-image {
            height: 50vh;
          }
        }
        .link-4 {
          @include link-style();
          width: 17.5vw;
          font-size: 1.3em;
          top: 67.5vh;
          right: 6vw;
          z-index: 4;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .arrow {
        height: 25px;
        width: 25px;
      }
      
     
    }
  }
  
}
