
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

ul {
  margin: 0;
}

.inicio {
    overflow-x: hidden;
    overflow-y: hidden;
    // z-index: 2;
    background: burlywood;
    // min-height: 100vh;
    .background-carousel {
      background-color: black;
      .carousel {
        position: relative;
        height: 45vh;
        width: 100vw;
        background-color: black;
        .carousel-bttn {
          display: none;
        }
        .image-list {
          display: flex;
          padding: 0;
          margin: 0;
          * {
            object-fit: cover;
            object-position: center;
            width: 100vw;
            height: 45vh;
          }
        }
        .content-list {
          @include flex-column();
          
          #item {
            opacity: 0;
            .content-inner{
              h3 {
                @include flex-column();
              }
              :nth-child(1) {
                margin-bottom: 5%;
              }
              padding: 3% 3%;
              // border-radius: 10px;
              width: fit-content;
              // width: 60vw;
              background-color: rgba(255, 255, 255, 0.705);
              position: absolute;
              top: 15vh;
              left: 50vw;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
    
    .feed {
      @include flex-column();
      background: blue;
      padding: 10% 0;
      > * {
        margin: 15% 0;
        background: lightgreen;
        width: 70vw;
        height: 80vh;
      }
      .sub-feed {
        @include flex-row();
        justify-content: space-around;
        gap: 5%;
        > * {
          background: white;
          @include flex-column();
          height: 80%;
          width: 50%;
        }
      }
     
    }
}

.introduccion {
    height: 20vh;
    @include flex-column();
}

h3, h2, h4 {
  margin: 0;
}

@media (max-width: 760px) {
  .inicio {
    .background-carousel {
      .carousel {
        margin: 5vh 0;
        
        // padding: 200px 0;
        height: 40vh;
        .image-list {
          * {
            height: 40vh;
          }
        }
        .content-list {
          // añadir otra classname
          #item {
            left: 0;
            .content-inner {
              width: 100vw;
              :nth-child(1) {
                margin-bottom: 4%;
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    
    .feed {
      > * {
        height: 80vh;
        width: 95vw;
      }
      .sub-feed {
        @include flex-column();
        gap: 5%;
        justify-content: space-around;
        > * {
          width: 100%;
          height: 50%;
        }
      }
    }
  }
  
}
