
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

ul {
  margin: 0;
}

.inicio {
    overflow-x: hidden;
    overflow-y: hidden;
    // z-index: 2;
    background: white;
    // min-height: 100vh;
    .background-carousel {
      background-color: black;
      // overflow-x: scroll;
      .carousel {
        position: relative;
        height: 45vh;
        width: 100vw;

        background-color: black;
        .carousel-bttn {
          display: none;
        }
        .image-list {
          // display: flex;
          // padding: 0;
          // margin: 0;
          // margin-left: 20%;
          * {
            object-fit: cover;
            object-position: center;
            // width: 10vw;
            // height: auto;
            width: 100vw;
            height: 45vh;
          }
          
          #img1 {
            position: absolute;
            top: 0;
            left: 0;
            // left: 20vw;
          }
          #img2 {
            position: absolute;
            top: 0;
            // left: 30vw;
            left: 100vw;
          }
          #img3 {
            position: absolute;
            top: 0;
            left: 200vw;
            // left: 40vw;
          }
          #img4 {
            position: absolute;
            top: 0;
            left: 300vw;
            // left: 50vw;
          }
        }
        .limit {
          height: 10vh;
          width: 10vw;
          background: yellowgreen;
          border: 1px solid white;
        }
        // #l0 {
        //   position: absolute;
        //   top: 10vh;
        //   // left: 0;
        //   left: 10vw;
        //   background: yellow;
        // }
        // #l1 {
        //   position: absolute;
        //   top: 10vh;
        //   // left: 0;
        //   left: 20vw;
        // }
        // #l2 {
        //   position: absolute;
        //   top:10vh;
        //   // left: 0;
        //   left: 30vw;
        // }
        // #l3 {
        //   position: absolute;
        //   top: 10vh;
        //   // left: 0;
        //   left: 40vw;
        // }
        // #l4 {
        //   position: absolute;
        //   top: 10vh;
        //   // left: 0;
        //   left: 50vw;
        // }
        .content-list {
          @include flex-column();
          
          #item {
            opacity: 0;
            .content-inner{
              h3 {
                @include flex-column();
              }
              :nth-child(1) {
                margin-bottom: 5%;
              }
              padding: 3% 3%;
              // border-radius: 10px;
              width: fit-content;
              // width: 60vw;
              background-color: rgba(255, 255, 255, 0.705);
              position: absolute;
              top: 15vh;
              left: 50vw;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
    
    .feed {
      @include flex-column();
      background: white;
     

      .item-1 {
        @include flex-column();
        justify-content: space-around;
        border: 5px solid yellow;
        margin: 30% 0 25% 0;
        background: rgba(195, 233, 255, 0.75);
        width: 100vw;
        height: 80vh;
        .header-1 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.8);
        }
        .mask {
          height: 20vh;
          width: 60vw;
          background: yellow;
          overflow: hidden;
          position: relative;
          border: 5px solid yellow;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            height: 20vh;
            width: 60vw;
          }
          .info-image {
            position: absolute;
            // bottom: 0;
            left: 0;
            z-index: 2;
            height: 25vh;
            width: auto;
          }
        }
        .content-1 {
          border: 1px solid black;
          background: rgba(245, 249, 255, 0.71);
        }
        .link-1 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .item-2 {
        @include flex-column();
        border: 5px solid violet;
        justify-content: space-around;
        margin: 25% 0 25% 0;
        background: rgba(195, 233, 255, 0.75);
        width: 100vw;
        height: 80vh;
        position: relative;
        .header-2 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.8);
        }
        .content-2 {
          border: 1px solid black;
          background: rgba(245, 249, 255, 0.71);
          z-index: 3;
        }
        .wrap{
          @include flex-row();
          z-index: 2;
          img {
            height: 305px;
            width: auto;
          }
          .mask1 {
            position: absolute;
            bottom: 10%;
            left: 20%;
            z-index: 2;
            transform: rotate(10deg);
            height: 40vh;
            width: 60vw;
            overflow: hidden;
          }
          .mask2 {
            position: absolute;
            bottom: 10%;
            left: 20%;
            z-index: 3;
            transform: rotate(-10deg);
            overflow: hidden;
            height: 40vh;
            width: 60vw;

          }
          .mask3 {
            position: absolute;
            bottom: 10%;
            left: 20%;
            z-index: 4;
            
            overflow: hidden;
            height: 40vh;
            width: 60vw;

          }
        }
        .link-2 {
          z-index: 3;
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .item-3 {
        @include flex-column();
        border: 5px solid green;
        justify-content: space-around;
        margin: 25% 0 25% 0;
        background: rgba(195, 233, 255, 0.75);
        width: 100vw;
        height: 80vh;
        .header-3 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.8);
        }
        
        .mask {
          height: 20vh;
          width: 60vw;
          overflow: hidden;
          position: relative;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            top: 0;
            left: 0;
            z-index: 42;
            height: 20vh;
            width: 60vw;
          }
          .item-3-image {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 44;
            height: 50vh;
            width: auto;
          }
        }
        .content-3 {
          border: 1px solid black;
          background: rgba(245, 249, 255, 0.71);
        }
        .link-3 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      .item-4 {
        @include flex-column();
        border: 5px solid black;
        justify-content: space-around;
        margin: 25% 0 25% 0;
        background: rgba(195, 233, 255, 0.75);
        width: 100vw;
        height: 80vh;
        .header-4 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.8);
        }
        .content-4 {
          border: 1px solid black;
          background: rgba(245, 249, 255, 0.71);
        }
        .mask {
          height: 30vh;
          width: 70vw;
          overflow: hidden;
          position: relative;
          .bg {
            position: absolute;
            background: rgb(56, 56, 56);
            top: 0;
            left: 0;
            z-index: 42;
            height: 30vh;
            width: 70vw;
          }
          .item-4-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 44;
            height: 60vh;
            width: auto;
          }
        }
        .link-4 {
          border: 1px solid black;
          background: rgba(255, 255, 255, 0.84);
        }
      }

      
     
    }
}

.introduccion {
    height: 20vh;
    @include flex-column();
}

h3, h2, h4 {
  margin: 0;
}

@media (min-width: 760px) {
  .inicio {
    .background-carousel {
      .carousel {
        margin: 5vh 0;
        
        // padding: 200px 0;
        height: 40vh;
        .image-list {
          * {
            height: 40vh;
          }
        }
        .content-list {
          // añadir otra classname
          #item {
            left: 0;
            .content-inner {
              width: 100vw;
              :nth-child(1) {
                margin-bottom: 4%;
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    
    .feed {
      > * {
        height: 80vh;
        width: 95vw;
      }
      .sub-feed {
        @include flex-column();
        gap: 5%;
        justify-content: space-around;
        > * {
          width: 100%;
          height: 50%;
        }
      }
    }
  }
  
}
