
@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('./fonts/EBGaramond-Regular.woff2') format('woff2'),
      url('./fonts/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.woff2') format('woff2'),
      url('./fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas';
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('./fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sansita';
  src: url('./fonts/Sansita-Regular.woff2') format('woff2'),
      url('./fonts/Sansita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proza';
  src: url('./fonts/ProzaLibre-Regular.woff2') format('woff2'),
      url('./fonts/ProzaLibre-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
      url('./fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milliard';
  src: url('./fonts/Milliard-Thin.woff2') format('woff2'),
      url('./fonts/Milliard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  overflow-x: hidden;
  .header {
    @include flex-row();
    height: 17.5vh;
    width: 100%;
    background-color: black;
    .logo {
      color: white;
      width: 100%;
      text-align: left;
      margin-left: 15%;
      font-family: 'Gilroy';
    }
  }
  #navbar {
    font-family: 'Open Sans';
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    #logo {
      width: 30%;
      display: flex;
      justify-content: center;
    }
    #menu-desktop {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      
      > * {
        margin: 0 2.5%;
      }
      > *:hover {
        text-decoration: underline;
      }
      .nosotros {
        position: relative;
        cursor: pointer;
        .desplegable {
          display: none;
          position: absolute;
          z-index: 2;
          padding-top: 15px;
          left: -8px;
          > * {
            text-align: left;
            width: 130px;
            background: #c2e9fb;
            padding: 15px 25px;
          }
          
          :nth-child(3) {
            padding-bottom: 20px;
          }
        }
      }
      .nosotros:hover {
        cursor: default;
        text-decoration: none;
        .desplegable {
          display: flex;
          flex-direction: column;
        }
        .desplegable>*:hover {
          background-color: #a1c4fd;
          text-decoration: underline;
        }
      }
    }
    
    #menu-mobile {
      display: none;
    }
    .none, .mobile-links {
      display: none;
    }
  }

  // footer 
  .footer {
    @include flex-row();
    justify-content: flex-start;
    gap: 15%;
    height: 25vh;
    color: #fff;
    font-family: 'Open Sans';
    background: #222;
    * {
      color: #fff;
    }
    .logo-minified {
      margin-left: 5vw;
      
    }
    .email {
      cursor: pointer;
      .email-link {
        @include flex-row();
        gap: 1.5vh;
        .email-icon {
          height: 3vh;
          width: 3vh;
          fill: #fff;
        }
        .email-text {
          font-weight: lighter;
          text-decoration: underline;
        }
      }
    }
    .social-media {
      margin-left: 7.5vw;
      @include flex-row();
      cursor: pointer;
      gap: 3vh;
      height: 100%;
      margin-bottom: 11vh;
      .facebook {
        .facebook-link {
          
          .facebook-icon {
            height: 4vh;
            width: 4vh;
            fill: #fff;
          }
        }
      }
      .instagram {
        .instagram-link {
          .instagram-icon {
            height: 4vh;
            width: 4vh;
            fill: #fff;
          }
        }
      }
    }
  }
}

.inicio {
  @include flex-column();
  width: 100%;
}





















@media (max-width: 760px) {
  .App {
    .header {
      @include flex-column();
      height: 20vh;
      .buscador {
        display: none;
      }
    }
    #navbar {
      gap: 70%;
      width: 100%;
      height: 10vh;
      #logo {
        cursor: pointer;
      }
      #menu-desktop {
        display: none;        
      }
      #menu-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        position: relative;
        .mobile-button {
          margin-left: 5%;
          .svg-menu {
            width: 30vw;
            display: flex;
            justify-content: flex-start;
            height: 30px;
            width: 30px;
            color: rgba(56, 49, 119, 0.74);
            @include flex-row();
            border: 2px solid rgba(56, 49, 119, 0.301);
            border-radius: 5px;
            padding: 1px;
            box-shadow: 0 0 2px 0 gray;
          }
          // .svg-menu:hover, .svg-menu:active {
          //   color: rgba(56, 49, 119, 0.911);
          //   border: 2px solid rgba(56, 49, 119, 0.829);
          //   box-shadow: 0 0 8px 0 gray;
          //   transform: scale(1.05);
          //   transition: 0.5s linear;
          // }
          .buscador {
            width: 50vw;
            height: 3.5vh;
          }
        }
        
        
      }
      .none {
        display: none;
      }
      .mobile-links {
        z-index: 3;
        @include flex-column();
        justify-content: flex-start;
        gap: 3.5vh;
        position: absolute;
        top: 30vh;
        width: 100vw;
        height: 70vh;
        // background: rgb(0, 0, 0);
        .glassy {
          position: absolute;
          height: 100%;
          width: 100%;
          // background: black;
          background: rgba(84, 102, 108, 0.664);
          backdrop-filter: blur(10px);
          z-index: -1;
        }
        .link {
          box-shadow: inset  0 0 1px 0px rgb(0, 0, 0), 2px 2px 1px 0 rgba(0, 0, 0, 0.479);
          // box-shadow: 1px 1px 4px 0px rgb(136, 136, 136);
          // box-shadow: 0 0 10px 0px gray;
          width: 70vw;
          height: 8vh;
          // font-family: 'Lato';
          font-family: 'Gilroy';
          // border: 2px solid black;
          color: rgb(0, 0, 0);
          font-size: 1em;
          letter-spacing: 0.05em;
          font-weight: bold;
          // font-style: italic;
          @include flex-column();
          border-radius: 10px;
          background: #a1c4fd;
          background: linear-gradient(90deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);
          // box-shadow: inset 0 0 3px 0.25px black;
        }        
        .link-inicio {
          margin-top: 3.5vh;
        }
      }
    }
    .footer {
      height: 70vh;
      @include flex-column();
      flex-direction: column-reverse;
      gap: 20%;
      justify-content: flex-end;
      .logo-minified {
        margin-left: 0;
        width: 70%;
      }
      .email {
        .email-link {
          .email-icon {
          }
          .email-text {
          }
        }
      }
      .social-media {
        margin-left: 55vw;
        margin-top: 10vh;
        height: auto;
        margin-bottom: 0vh;
        .facebook {
          .facebook-link {
            
            .facebook-icon {
              height: 5vh;
              width: 5vh;
            }
          }
        }
        .instagram {
          .instagram-link {
            .instagram-icon {
              height: 5vh;
              width: 5vh;
            }
          }
        }
      }
    }
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}