@font-face {
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Regular.woff2') format('woff2'),
      url('./fonts/MavenPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.woff2') format('woff2'),
      url('./fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'Maven Pro';
  overflow-x: hidden;
  /* font-family: 'Oswald'; */
}